<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/images.jpeg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Cerveceria Boliviana Nacional</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ion-text-justify">En 1886, un grupo de emprendedores alemanes fundó la Cervecería Boliviana Nacional, empresa que en 1920, se convertiría en Sociedad Anónima.

            Desde 1986 comenzamos una etapa de innovación tecnológica que hasta la fecha, lideran nuestras plantas de La Paz, Cochabamba, Huari, Santa Cruz y Tarija.
            
            El  2018 cumplimos 132 años de vida y continuamos trabajando para dejar un legado del cual puedan sentirse orgullosas las personas que trabajan junto a nosotros.
        </p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
